body{
  background: url("images/banner.jpg");
  background-size: contain;
  background-repeat: no-repeat;
  background-color: black;
}

#numbers{
  padding: 150px 15px 478px 0px;
  text-align: center;
}

a{
  font-family: "Arial", sans-serif;
  font-size: 64px;
  color: white;
  text-align: inherit;
  text-decoration: none;
  padding: 0px 32px 0px 32px;
}
